@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
#main-music-player {
 margin-left: 12%;
 margin-top: 20px;
 background-color: black;
 width: 820px;
 padding: 10px 0px;
 z-index: 999;
}
#main-music-player .main-inner {
  display: flex;
  position: relative;
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}
#main-music-player .main-play-bar{
 height: 20px;
 float: left;
 margin-right: 30px;
 display: flex;
 justify-content: flex-start;
 flex: 1;
}
#main-music-player .main-song-content {
 width: 220px;
 height: 35px;
 float: left;
 display: flex;
 justify-content: flex-start;
}
.main-controls{
    padding-top: 50px;
    display :flex;
}
.main-controls  img {
  vertical-align: middle;
 }
.main-controls  a {
  align-self: center;
 }
.main-controls  .main-previous {
  margin-right: 12px;
}
.main-controls .main-previous img {
    width: 14px;
}
.main-controls .main-play{
  margin-right: 12px;
}
.main-controls  .main-pause{
    margin-right: 12px;
} 
.main-controls  .main-pause img{
     width: 30px;
}
.main-controls .main-play img{
     width: 30px;
} 
.main-controls .main-next{
  margin-right: 45px;
}
.main-controls .main-next img {
   width: 14px;
}

.main-play-bar{
    padding-top: 65px;
}
.main-play-bar span {
  color: #ffffff;
  font-size: .8em;
  font-weight: bold;
  align-self: center;
}
.main-play-bar .main-bar-bg {
  background-color: #ffffff;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  align-self: center;
  margin: 0 5px;
}
.main-play-bar .main-bar-bg .main-progress {
    background-color: #ffc964;
    height: 6px;
    border-radius: 10px;
    width: 0%;
}

.main-song-content{
    padding-top: 60px;
}
.main-song-content .main-user-info {
  display: flex;
  justify-content: flex-start;
}
.main-song-content .main-img-wrapper {
   width: 30px;
   margin-right: 12px;
}
.main-song-content .main-song-info {
   padding-top: 25px;
   align-self: center;
   margin-top: -10px;
   text-align: left;
}
.main-song-content .main-song-info .main-artist {
    display: inline-block;
    color: gray;
    font-size: .8em;
    line-height: 1.2em;
    display: block;
}
.main-song-content .main-song-info .main-song {
    color: #ffffff;
    font-size: .8em;
    line-height: 1.2em;
    display: block;
}
.main-song-content .main-comment-icon{
    display: flex;
    padding-left : 50px;
}

#main-scroll{
    margin-left: 12%;
    width: 820px;
    height: 240px;
    margin-top: 50px;
    background-color: #F8F8FF;
}
#main-scroll .Container{
    padding-top: 20px;
    width: 800px;
    height: 60px;
    border: 1px solid lightgrey;
    display: flex;
}
#main-scroll .Container a{
    color: gray;
}
#main-scroll .Container .song{
    padding-left:20px;
}
#main-scroll .Container .artist{
    padding-left:50%;
}
#main-scroll .Container .artist a{
    
}
@media only screen and (max-width: 820px) {
    #main-music-player {
        margin-left: 0;
        background-color: black;
        width: 100%;
        padding: 10px 0;
        z-index: 999;
    }
}
