.NewListen{
}
.NewListen .new{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.NewListen .xemtatca{
    position: relative;
    left: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.NewListen .newListen .newlisten-container{
    width: 100px;
    flex-shrink: 0;
    height: 100px;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
    margin-top: 25px;
}
.NewListen .newListen .newlisten-container .newlisten-card{
    display: flex;
    position: relative;
    width: 360px;
    height: 80px;
    border-top: 1px solid grey;
}
.NewListen .newListen .newlisten-container .newlisten-card a img{
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top:15%;
}
.NewListen .newListen .newlisten-container .newlisten-card .newlisten-info{
    margin: 0px 10px 5px 10px;
    margin-top:3%;
}
.NewListen .newListen .newlisten-container .newlisten-card .newlisten-info .name{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.NewListen .newListen .newlisten-container .newlisten-card .newlisten-info .artist{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.NewListen .newListen .newlisten-container .newlisten-card .quality{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position:relative;
}
.NewListen .newListen .newlisten-container .newlisten-card .right-corner{
    margin-top:3%;
}
.NewListen .newListen .newlisten-container .newlisten-card .right-corner .time{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    position:relative;
    margin-left: 100px;
    margin-top: 5px;
}
.NewListen .newListen .newlisten-container .newlisten-card .right-corner .views{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position:relative;
    margin-left: 100px;
    margin-top: 5px;
}