.showcase{
    width: 1480px;
    height: 300px;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    position:relative;
    margin-left:70px;
}
.showcase-box{
    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    overflow: hidden;
}
.showcase-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
    padding-left:30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform:uppercase;
    font-size:1.2rem;
    color:#1a1a1a;
}