@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container{
  width: 1280px;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}
@media screen and (max-width: 768px){
    .container{
        width: 80%;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 85%;
    }
}
.inner{
  overflow: hidden;
}
.track{
  display: inline-flex;
  transition: transform 1.5s;
}
.card-container{
  width: 256px;
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}
.card img:hover{
  display: block;
  -webkit-filter: brightness(70%);
}
.card{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card > * {
  flex: 1;
}
.card img{
  width:100%;
  height:80%;
  object-fit: cover;
  object-position: top;
}
.card .play{
  opacity: 1;
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5  0%;
}
.card:hover .play{
  display:block;
}
.card .play .playbutton{
  display: none;
  width: 100%;
  height: 100%;
}
.card .info{
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}
.material-icons{
  font-size: 60px;
}
.navi button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.navi .prev{
  left: -30px;
  display: none;
  color: white;
}
.navi .prev.show{
  display: block;
}
.navi .next{
  right: -30px;
  color: white;
}
.navi .next.hide{
  display: none;
}
