body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    padding-top:80px;
    background-color: #ffffff;
}
.horizontaldisplay{
    display:flex;
}
.horizontaldisplay .verticaldisplay1 .subverticaldisplay{
    display:flex;
}
.horizontaldisplay .verticaldisplay1 .newestalbum{
    position: relative;
}
.horizontaldisplay .verticaldisplay2{
    display:flex;
}
.horizontaldisplay .verticaldisplay2 .leaderboard{
    position: absolute;
}
